

h1 {
    margin: 0;
}

.nyheter {
    max-width: 1010px;
    margin: auto;
    background-color: #eeeeee;

    display: grid;
    gap: 8px;
    grid-template-columns: repeat(6, 1fr);
    
}

.nyhet {
    background-color: darkorange;
}

.col-2 {
    grid-column: span 2;
}

.col-3 {
    grid-column: span 3;
}

.bilde {
    width: 100%;
}

.stor-tekst {
    font-size: 70px;
    margin: 0;
}